
.App{
background:#f1f1f1;
}

.App-header {
  background-color: #374258;
  height: 85px;
  display: flex;
  align-items: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

  .App-header > div {
      margin: 10px;
      display: flex;
      align-items: baseline;
  }

      .App-header > div > h2 {
          margin: 0;
          padding-right: 10px;
      }

      .App-header > div > span {
          font-size: 18px;
      }

.App-link {
  color: #61dafb;
}